
# chm
*.chm

# SI4
SIP.si4project/

# python
__pycache__/

# .vs
*.vs
Debug/
Release/
x86/
x64/
ARM/
*.vcxproj.user
*.aps

# .vscode
.vscode/

# MDK-ARM  2018.5.14 by jf
DebugConfig/
Listings/
Objects/
# *.uvoptx
*.uvguix.*
*.scvd
JLinkLog.txt

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
# *.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
# *.dll
*.so
*.so.*
*.dylib

# Executables
# *.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
